.meeting-page {
  display: flex;
  height: 87vh;
  margin-top: 0px;
}

.meeting-sidebar {
  width: 250px;
  padding: 20px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
}

.create-meeting-btn, .add-upcoming-meeting-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.create-meeting-btn:hover, .add-upcoming-meeting-btn:hover {
  transform: scale(1.05);
}

.meeting-list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.meeting-list li {
  margin-bottom: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  margin-top: -15%;
  margin-left: 6%;
  background-color: white;
  padding: 35px;
  border-radius: 5px;
  width: 30%;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.create-form input, .role-allocation-btn {
  display: block;
  width: 95%;
  margin-bottom: 10px;
  padding: 10px;
}

.dropdown-container {
  display: flex;
  justify-content: space-between;
}

.dropdown {
  width: 45%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}


.save-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-top: 20px;
}

.save-btn:hover {
  transform: scale(1.05);
}

select.dropdown {
  width: 45%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 1em;
}